{% extends 'login.html.twig' %}

{% block body %}


{% set message = message %} 


<div class="container center">
   <div layout:fragment="content" class="log_pos">    
    
      <div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3" >
            <div class="panel panel-primary ">  
               <div class="panel-heading"><h1> Connexion client</h1>
               </div>                     
            <div class="panel-body">
               <form action="{{path('app_authentif')}}" method="post">  
          
            <div class="form-group">
                <label class="control-label"> login</label>
                   <input type="text"  name="login" class="form-control" />                   
            </div>             
                    
            <div class="form-group">
                <label class="control-label"> password</label>
                <input type="password" name="password"  class="form-control" value="" />                                     
            </div>  

            <div>                 
                 <button type="submit" class="btn btn-primary"> connexion</button>             
            </div> 

            </form>  
           {% if message != null %}
           <p class="text-danger"> {{message }} </p>
           {% endif %}     
          
          </div>   
          
   </div>

  </div>

</div>  

{% endblock %}
                                   
                            
                                      
            
                            
          
          
    
   
