<div>
<ul>  
                 
                 
    <a href="{{path('app_home',{'pseudo':pseudo})}}"><button type="button" class="btn btn-primary  bouton_accueil">Accueil</button></a>         
    <a href="{{path('app_donation',{'pseudo':pseudo})}}"><button type="button" class="btn btn-primary  bouton_mesLivres">Mes Livres</button></a>         
    <a href="{{path('app_emprunt',{'pseudo':pseudo})}}"><button type="button" class="btn btn-primary  bouton_emprunt">Emprunt</button></a>         
    <a href="{{path('app_livres_dispo',{'pseudo':pseudo})}}"><button type="button" class="btn btn-primary  bouton_livresDispo">Livres Diponibles</button></a>         
    <a href="{{path('app_deconexion')}}"><button type="button" class="btn btn-primary  bouton_deconnexion">Deconnexion</button></a>         

</ul>
</div>
          
                     
                      
                 


                     
