{% extends 'base.html.twig' %}
{% set pseudo = pseudo %}


{% block body %}   
{% include 'menu.html' %} 
 
  
      <h1> Bievenue : {{pseudo}} <img src="/anbuche/web/{{linkPhoto}}" height="42" width="42" /></h1>  

           

{% endblock %}